<%= render 'header' %>
<%= render @tournament %>

<div class="pad-div", style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(http://www.prioritetsernekearena.se/assets/new-site/img/Header_indexpage.jpg) no-repeat center center fixed">
</div>

<div class="pad-section title">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
	  	    <div class="text-vcenter">
                <h1>Aktiviteter</h1>
			</div>
		</div>
	</div>
</div>

<div class="pad-section">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
            <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#activity">Aktivitetsområde</a></li>
            <li><a data-toggle="tab" href="#scene">Lilla scenen</a></li>
            </ul>

            <div class="tab-content">
                <div id="activity" class="tab-pane fade in active">
                    <h3>Aktivitetsområde</h3>
                    <p>Vill du testa på e-sport, gå in i en VR-värld eller kanske bada i ett bollhav? 
                        Då är Hexis helt fria aktivitetsområde något för dig! Inträdet till aktivitetsområdet är alltså helt gratis, 
                        även för de som inte har biljett till LANet. Området är till för att ge alla möjligheten att testa på saker 
                        man kanske inte kan göra hemma så som Virtual Reality men också för att alla ska kunna ta del av den härliga 
                        LAN-känslan. 
                    </p>
                </div>
                <div id="scene" class="tab-pane fade">
                    <h3>Lilla scenen</h3>
                    <p>På den lilla scenen kommer vi att arrangera föreläsningar både för våra deltagare, men även skolor,
                         intresserade vuxna och företag. Utöver det kommer vi även att arrangera tävlingar som alla kan delta i.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>