<div class="pad-div", style="background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)),url(<%= asset_path 'bgs/14.jpg' %>) no-repeat center center fixed">
  <div class="text-vcenter">
    <%= image_tag("hexis_text.png", :class=>"img-responsive center-block main-image") %>
  </div>
</div>

<div id="about" class="pad-section">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <h2>Tillsammans förändrar vi spelvärlden</h2>
      <p class="lead">Med grundtanken “alla ska med” sträcker sig Hexis till alla med en hobby inom spel, men också de som är nyfikna på att lära sig mer. Ett högkvalitativt spelarrangemang där inkludering är nyckeln. Med hjälp av kunskap förändrar vi spelvärlden till något bättre. Baserat på dessa mål blir Hexis ett evenemang fyllt av awesomeness.
			</p>
    </div>
  </div>
</div>
