<div class="pad-div", style="height: 70em; background: url(<%= asset_path 'bgs/bg_main.jpg' %>) no-repeat center center fixed">
  <div class="text-vcenter">
    <%= image_tag("hexis_text.png", :class=>"col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 img-responsive") %>
    <h2 class="col-lg-4 col-lg-offset-4 col-xs-4 col-xs-offset-4 date">31/3 - 2/4 2017</h2>
    <a href="https://kippu.events/e/hexis" class="col-lg-2 col-lg-offset-5 col-xs-4 col-xs-offset-4 btn btn-lg btn-primary btn-buy pull-up">Köp biljett</a>
  </div>
</div>


<div id="about" class="pad-section">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <h2>Göteborgs nya LAN är här</h2>
      <p class="lead"> 
		Västsveriges största LAN intar Prioritet Serneke Arena den 31 mars till 2 april med schyssta turneringar, e-sport, 
		aktivitetsområde och föreläsningar.
      </p>
      <p style="margin-top: 1.5em">
        Hexis består av två delar, en LAN del med över 700 platser, 
        fullspäckat med turneringar, scenaktiviteter och annat roligt.
         Andra delen är aktivitetsområdet som innehåller alltifrån VR och e-sportshörna till föreläsningar.
			</p>
    </div>
  </div>
</div>
