// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-image {
	padding: 4em;
  //-webkit-box-shadow:0 0 40px rgba(255,255,255,128);
  //box-shadow:0 0 40px rgba(0,0,0,0.8);
  //background: rgba(255,255,255,0.8);
  //border-radius: 2em;
  //-moz-border-radius: 2em;
}

.front {
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 6px black;
}

.scroll.front {
  margin-top: 3em;
}

.date.front {
  font-size: 4em;
}

.latest {
  margin-top: 25em;
  margin-bottom: 10px;
}