// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application";

.pad-div {
  height: 30em;
}

.tourn-pad-section {
	padding: 0;
}

.tourn-img {
	padding-right: 0;
	padding-left: 0;
}

.tourn-row {
	float: none;
	display: table-cell;
	vertical-align: bottom;
}

.tourn-btn > .btn {
	border: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;	
	font-weight: bold;
}


.tourn-btn > .btn-primary:hover {
	background-color: $brand-primary;
	cursor: default;
}

.tourn-btn > .btn-primary {
	opacity: 1;
}

.tourn-btn {
	margin-right: 10px;
}
